---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/128/reviews?api_key=<tmdb_key>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 124b1f0a949b2602102ce7dfb5453fa4ab7ef8c5
      X-Memc-Age:
      - '11822'
      X-Memc-Expires:
      - '4996'
      Etag:
      - W/"1d96fbe9de7e76ada4733d86f4753939"
    body:
      encoding: ASCII-8BIT
      string: '{"id":128,"page":1,"results":[{"author":"Andres Gomez","author_details":{"name":"Andres
        Gomez","username":"tanty","avatar_path":"/https://www.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":10.0},"content":"Probably
        the best movie from Miyazaki. A mixture of old Japanese traditions with the
        story about the conflict between the industrial human being and the preservation
        of the Nature.","created_at":"2013-11-26T08:29:16.086Z","id":"52945bdc19c2951f0003403e","updated_at":"2021-06-23T15:57:23.060Z","url":"https://www.themoviedb.org/review/52945bdc19c2951f0003403e"},{"author":"tmdb79319797","author_details":{"name":"","username":"tmdb79319797","avatar_path":null,"rating":10.0},"content":"Hayao
        Miyazaki''s arts have always something to remember us that we are naturally
        harmonized with mother earth and existences. There is still a bond, if one
        is hurt another, it means the one suffer itself as well.","created_at":"2020-12-13T10:31:26.870Z","id":"5fd5ed7e006b01003edececf","updated_at":"2021-06-23T15:58:48.694Z","url":"https://www.themoviedb.org/review/5fd5ed7e006b01003edececf"}],"total_pages":1,"total_results":2}'
  recorded_at: Mon, 12 Dec 2022 18:28:57 GMT
recorded_with: VCR 6.1.0
